<% include head %>

<% if (typeof removed != 'undefined') { %>  
<div class="alert alert-success">
	            <div class="container-fluid">
					<div class="alert-icon">
						<i class="material-icons">check</i>
					</div>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true"><i class="material-icons">clear</i></span>
					</button>
	            	<b>Success Alert:</b> Yuhuuu! You've removed entry id: <%= removed %>
	            </div>
	        </div>
<% } %>

  <h2>Places: </h2>

    <% data.forEach(function(data) { %>
    	<div class="row">
    		<div class="col-sm-4">
    			<%= data.name %>
    		</div>
    		<div class="col-sm-4">
    			<%= data.description %> 
    		</div>
    		<div class="col-sm-2">
    			<a href="places/edit/<%= data.id %> " class="btn btn-primary btn-round btn-xs ">Edit</a> 
    		</div>
    		<div class="col-sm-2">
    			<a href="places/remove/<%= data.id %> " class="btn btn-danger btn-round btn-xs ">Remove</a>
    		</div>

    	</div>
    <% }); %>

  <a href="/" class="btn btn-info btn-round btn-xs">Back</a>
  <a href="places/add" class="btn btn-info btn-round btn-s">Add new place</a>

<% include foot %>
